
:root{
    --backgroundButton-color2: #fff;
    --background-color: #081f3c;
    --primary-color: #203e62;
    --backgroundButton-color: #d6b325;
    --text-color: #fbdb55;
    --text-colorw: #fff;
    --background-color2: #1d3b5f;
}
